
.calendar-table {
    border-collapse: collapse;
    width: 100%;
}

.calendar-table td, .calendar-table th {
    border: 1px solid var(--dark);
    /* padding: 5px 7px; */
    text-align: center;
    height: 50px;
}

.calendar-day-unavailable {
    background: var(--danger);
    cursor: not-allowed;
}
.calendar-day-past {
    background: var(--muted);
    cursor: not-allowed;
}
.calendar-day-available {
    background: var(--success);
}
.calendar-day-current {
    background: var(--warning);
}

.calendar-day-link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    flex-direction: column;
}